@import "_var.scss";

.main-form {
  margin: 100px 0 50px 0;
  text-align: center;
  .task-input {
    height: 35px;
    border: none;
    margin-right: 15px;
    padding-left: 10px;
    width: 200px;
  }
  .tag-input {
    height: 35px;
    border: none;
    padding-left: 10px;
    width: 115px;
  }
  .btn-add {
    background-color: $addTaskBtn;
    margin-left: 15px;
    border: none;
    height: 37px;
    width: 80px;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 4px;
  }
  .btn-add:hover {
    cursor: pointer;
    background-color: $addTaskBtnHover;
  }
}
.task-collection-title {
  text-align: center;
  margin: 50px;
}
.hidden-title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 150px;
  background-color: $hiddenModal;
  border: 1px solid $gray;
  .title-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    .title-buttons {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      display: inline;
      .approve {
        background-color: $addTaskBtn;
        width: 40%;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        padding: 5px 0;
        border-radius: 4px;
        margin-right: 20px;
      }
      .approve:hover {
        background-color: $addTaskBtnHover;
      }
      .decline {
        background-color: $cancelBtn;
        width: 40%;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        padding: 5px 0;
        border-radius: 4px;
      }
      .decline:hover {
        background-color: $cancelBtnHover;
      }
    }
  }
}
.hidden-tags {
  display: none;
}
