@import "_var.scss";

.task-number {
  position: absolute;
  left: 20px;
  top: 5px;
  font-weight: 600;
}
.task {
  background-color: $white;
  position: relative;
  width: 60%;
  left: -60px;
  margin: 20px auto;
  padding: 20px;
  overflow-wrap: break-word;
  .form-buttons {
    right: -122px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    .btn {
      display: block;
      width: 100px;
      border: none;
      padding: 5px 0;
      margin: 5px 0;
      transition: 0.3s;
      border-radius: 4px;
    }
    .btn:hover {
      cursor: pointer;
    }
    .edit {
      background-color: $editBtn;
    }
    .edit:hover {
      background-color: $editBtnHover;
    }
    .delete {
      background-color: $cancelBtn;
    }
    .delete:hover {
      background-color: $cancelBtnHover;
    }
    .tag {
      background-color: $tagBtn;
    }
    .tag:hover {
      background-color: $tagBtnHover;
    }
  }
}

@media screen and (max-width: 715px) {
  .task {
    position: relative;
    width: 80%;
    left: 0;
    margin-bottom: 150px;
    .form-buttons {
      right: 0;
      position: relative;
      top: 200px;
      transform: translate(0, -50%);
      width: 100%;
      .btn {
        height: 30px;
        display: block;
        width: 100%;
        border: none;
        padding: 5px 0;
        margin: 5px 0;
        transition: 0.3s;
        border-radius: 4px;
      }
    }
  }
}
