@import "_var.scss";

.task {
  background-color: white;
  position: relative;
  width: 60%;
  left: -60px;
  margin: 20px auto;
  padding: 20px;
  .form-buttons {
    right: -122px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    .btn {
      display: block;
      width: 100px;
      border: none;
      padding: 5px 0;
      margin: 5px 0;
      transition: 0.3s;
      border-radius: 4px;
    }
    .btn:hover {
      cursor: pointer;
      background-color: white;
    }
    .edit {
      background-color: rgb(255, 255, 101);
    }
    .edit:hover {
      background-color: rgb(218, 218, 103);
    }
    .delete {
      background-color: rgb(255, 118, 118);
    }
    .delete:hover {
      background-color: rgb(228, 96, 96);
    }
    .tag {
      background-color: rgb(255, 198, 93);
    }
    .tag:hover {
      background-color: rgb(199, 146, 47);
    }
  }
}
