$white: white;
$black: black;
$gray: gray;
$addTaskBtn: rgb(151, 255, 151);
$addTaskBtnHover: rgb(74, 202, 74);
$hiddenModal: rgb(207, 207, 207);
$cancelBtn: rgb(255, 118, 118);
$cancelBtnHover: rgb(228, 96, 96);
$editBtn: rgb(255, 255, 101);
$editBtnHover: rgb(218, 218, 103);
$tagBtn: rgb(255, 198, 93);
$tagBtnHover: rgb(199, 146, 47);