.about {
  margin: 200px 5% 200px 5%;
}
.bio {
  margin-top: 50px;
  width: 700px;
}
img {
  float: left;
  width: 200px;
  padding-right: 20px;
}
// MEDIA ---------------------------------------
@media screen and (max-width: 400px) {
  .bio {
    margin-top: 50px;
    width: 90%;
  }
  img {
    float: none;
    display: block;
    width: 200px;
    padding-right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 760px) and (min-width: 400px) {
  .bio {
    margin-top: 50px;
    width: 100%;
  }
}
