@import './_var';

.contacts-bg {
  background-color: $footer_bg_color;
  color: $white_color;
  position: relative;
  bottom: 0;
}
.contacts {
  margin: 50px 5% 50px 5%;
  display: flex;
  align-items: flex-start;

  .social-links,
  .contact-form,
  .location-map {
    margin-top: 50px;
    width: 40%;
    box-sizing: border-box;
  }

  .social-links {
    width: 20%;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .links {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 110%);
      margin: 0px 0 0 10px;
      p {
        font-size: 15px;
      }
      a {
        display: block;
        color: $white_color;
        transition: 0.2s;
        width: 250px;
        &:hover {
          color: $logo_color;
        }
      }
    }
  }
}
.icons {
  display: inline-block;
  margin: 5px auto;
  .email-section {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 240px;
    position: relative;
    &:hover {
      text-overflow: unset;
      width: 300px;
      background-color: $footer_bg_color;
    }
  }
  p,
  a {
    text-decoration: none;
    position: relative;
    display: inline;
    top: -9px;
    margin-left: 5px;
  }
  .email {
    // letter-spacing: -1px;
  }
}
.fb-icon {
  font-size: 30px;
  color: $fb_color;
}
.ig-icon {
  font-size: 30px;
  color: $ig_color;
}
.phone-icon {
  font-size: 30px;
  color: $phone_color;
}
.email-icon {
  font-size: 30px;
  color: $email_color;
}
.contact-us-form {
  width: 70%;
  height: 340px;
  margin: -20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid $white_color;
  padding: 30px 40px;
  border-radius: 10px;
}
.contact-form {
  span {
    top: -30px;
    display: block;
    position: relative;
    text-align: center;
    color: $logo_color;
    font-weight: bold;
  }
}
.field-1,
.field-2,
.field-3,
.field-4 {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: $white_color;
  border: 1px solid $white_color;
  padding: 10px;
  font-family: monste;
}
.field-4 {
  height: 100px;
  resize: none;
}
.send-btn {
  margin: 0 auto;
  height: 30px;
  width: 100%;
  background-color: $logo_color;
  border-radius: 5px;
  border: none;
  color: $white_color;
  transition: 0.3s;
  font-family: monste;
  cursor: pointer;
  &:hover {
    background-color: $purple_color;
  }
}
.location-map {
  span {
    top: -30px;
    display: block;
    position: relative;
    text-align: center;
    b {
      color: $logo_color;
    }
  }
  iframe {
    margin-top: -20px;
    width: 100%;
    height: 400px;
  }
}
.footer-home-services-contacts {
  position: relative;
  text-align: center;
  background-color: $footer_side_color;
  padding: 5px;
  font-weight: 600;
  font-size: 14px;
}

//---------------------------------------- MEDIA -------------------------------------

@media screen and (max-width: 500px) {
  .contacts {
    .social-links {
      width: 100% !important;
      border: none !important;

      .links {
        margin-left: 0;
        a {
          width: auto;
          text-align: center;
          .icons {
            border: 1px solid $logo_color;
            padding: 10% 5%;
            border-radius: 15px;
            margin-top: 30px;
            padding-bottom: 10px;
            .email-section {
              overflow: unset;
              white-space: unset;
              text-overflow: unset;
              width: 100%;
            }
            .fb-icon {
              position: relative;
              top: -25px;
              left: 66%;
              margin-left: -35px;
            }
            .ig-icon {
              position: relative;
              top: -25px;
              left: 66%;
              margin-left: -35px;
            }
            .phone-icon {
              position: relative;
              top: -25px;
              left: 66%;
              margin-left: -35px;
            }
            .email-icon {
              position: relative;
              top: -25px;
              left: 59%;
              margin-left: -35px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .contacts {
    flex-wrap: wrap;

    .social-links {
      width: 270px;
      border: 1px solid $white_color;
      margin: 30px auto 10px auto;
      border-radius: 7px;
      box-sizing: border-box;
      img {
        display: none;
      }
      .links {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
      }
    }
    .contact-form {
      width: 100%;
      .contact-us-form {
        width: 90%;
        box-sizing: border-box;
        height: 100%;
        padding: 20px;
      }
    }
    .location-map {
      width: 100%;
      iframe {
        padding: 15px;
        margin-top: -20px;
        box-sizing: border-box;
        border: none;
      }
    }
  }
}
//---------------------- 1200px
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .contacts {
    flex-wrap: wrap;
    .social-links,
    .contact-form {
      width: 50%;
      position: unset;
    }
    .social-links {
      img {
        margin-left: 200px;
      }
      .links {
        margin-left: 210px;
        .icons {
          .email-section {
            overflow: unset;
            white-space: unset;
            text-overflow: unset;
            width: 281px;
          }
        }
      }
    }
    .location-map {
      flex-wrap: nowrap;
      margin: 0 auto;
      width: 90%;
    }
  }
}
//---------------------- 1400px
@media screen and (max-width: 1450px) and (min-width: 1200px) {
  .contacts {
    margin: 50px 0 50px 0;
    display: flex;
    align-items: flex-start;
    .social-links,
    .contact-form,
    .location-map {
      width: 30%;
      flex-wrap: wrap;
      width: 100%;
    }
    .social-links {
      width: 60%;
      .icons {
        .email-section {
          // overflow: unset;
          // white-space: unset;
          // text-overflow: unset;
        }
      }
    }
  }
}
@media screen and (min-width: 2000px) {
  .contacts {
    .social-links {
      .icons {
        .email-section {
          overflow: unset;
          white-space: unset;
          text-overflow: unset;
          width: 290px;
        }
      }
    }
  }
}
