.contacts{
  margin: 200px 5% 50px 5%;
}
.fb-icon{
  font-size: 30px;
  color: #4267B2;
}
.ig-icon{
  font-size: 30px;
  color: #E4405F;
}
.phone-icon{
  font-size: 30px;
  color: #006928;
}
.email-icon{
  font-size: 30px;
  color: #999999;
}
.arrow-icon{
  position: relative;
  display: inline-block;
  height: 75px;
  font-size: 30px;
  transform: rotate(90deg);
  
}
.contact-us-form{
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #E4405F;
  padding: 40px 80px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.field-1, .field-2{
  position: relative;
  width: 45%;
  margin: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
}
.field-1{
left: -2.45%;
}
.field-2{
right: -2.45%;
}
.field-3, .field-4{
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
}
.field-4{
  height: 50px;
  resize: none
}
.send-btn{
  margin: 0 auto;
  height: 30px;
  width: 100px;
  background-color: #E4405F;
  border-radius: 5px;
  border: none;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    background-color: hsl(0, 100%, 33%);
  }
}
.map-of-location{
  margin: 20px auto;
}