.faq {
  margin: 200px 5% 50px 5%;
}
.faq-split {
  display: flex;
  justify-content: space-between;
}
.faq-style {
  width: 40%;
  ul {
    list-style: none;
    li::before {
      content: '\1F441';
      font-size: 30px;
      color: #ff0022;
      position: relative;
      top: 48px;
      left: -50px;
    }
  }
}
.footer-faq {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #ffb9b9;
  padding: 10px;
  font-weight: 600;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .faq {
    text-align: justify;
  }
  .faq-split {
    display: block;
    h3 {
      text-align: center;
    }
  }
  .faq-style {
    width: 100%;
    ul {
      li {
        margin-top: 50px;
        margin-left: -40px;
      }
      li::before {
        content: ' ';
      }
    }
  }
}
