.gallery{
  margin: auto 10%;
  margin-top: 50px;
}
h2{
  text-align: center;
  margin-bottom: 50px;
}
.image-collection{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;

  img{
    width: 400px;
  }
}
.footer-gallery-about-faq{
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  background-color: #ffb9b9;
  padding: 10px;
  font-weight: 600;
  box-sizing: border-box;
}
@media screen and (max-width: 1599px) {
  .footer-gallery-about-faq{
      position: relative;
      bottom: 0px;
    }
}
