.gallery {
  margin: 200px 5% 50px 5%;
  background-color: $white_color;
  margin-top: 50px;
  padding: 15% 3%;
  position: relative;
  top: -150px;
  margin-bottom: -200px;
}
.image-collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 200px 50px;
  img {
    width: 400px;
    margin-top: 50px;
  }
}
.footer-gallery-about-faq {
  position: absolute;
  width: 100%;
  bottom: auto;
  text-align: center;
  background-color: #ffb9b9;
  padding: 10px;
  font-weight: 600;
  box-sizing: border-box;
}
@media screen and (min-width: 2240px) {
  .footer-gallery-about-faq {
    bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .image-collection {
    gap: 70px;
    width: 90%;
    margin: 150px auto 50px auto;
    img {
      width: 100%;
      margin-top: -50px;
    }
  }
}
