.gallery{
  margin: auto 0;
  margin-top: 50px;
}
.image-collection{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 200px 50px;
  img{
    width: 400px;
    margin-top: 50px;
  }
}
.footer-gallery-about-faq{
  position: absolute;
  width: 100%;
  bottom: auto;
  text-align: center;
  background-color: #ffb9b9;
  padding: 10px;
  font-weight: 600;
  box-sizing: border-box;
}
@media screen and (min-width: 2240px) {
  .footer-gallery-about-faq{
    bottom: 0;
    }
}
@media screen and (max-width: 500px) {
  .image-collection{
    gap: 70px;
    img{
      width: 100%;
      margin-top: -50px;
    }
  }
}