@import './_var';

.home {
  margin: 200px 5% 50px 5%;
  background-color: $white_color;
  padding: 15% 3%;
  position: relative;
  top: -150px;
  margin-bottom: -200px;
}
.carousel-section {
  margin: 0 auto;
  padding: 10px 0 30px 0;
  width: 98%;
}
.car {
  padding: -20px;
}
.cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  margin: 50px 0;
  .card-1,
  .card-2,
  .card-3 {
    width: 200px;
    height: 300px;
    border: 1px solid $purple_color;
    border-radius: 10px;
    padding: 20px;
  }
}

@media screen and (max-width: 850px) {
  .home {
    margin: 100px 0 -50px 0;
    padding: 50px 5%;
    position: unset;
    top: 0;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
