@import "./_var";

.nav-bar{
  background: $nav_bar_color;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 0 50px 0;
  font-size: 20px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  span{
    padding: 10px 5px;
  }
  a, span{
    color: $black_color;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
      transition: 0.3s;
    }

  }
  .drop-down{
    display: flex;
    justify-content: center;
    height: 100%;
    line-height: 50px;
    background-color: rgba(255, 228, 196, 0.041);
    cursor: pointer;
    visibility: none;
  }
  .logo{
    width: 150px;
    position: absolute;
    left: 10px;
    top: -30px;
  }
}

@media screen and (max-width: 850px) {
  .nav-bar{
    background: rgba(255, 166, 0, 0.267);
    flex-direction: column;
    gap: 5px;
    height: auto;
    margin-top: -450px;
    margin-bottom: 100px;
    transition: 0.3s;
    position: relative;
    }
    .drop-down{
      display: flex;
      justify-content: center;
      height: 100%;
      line-height: 50px;
      background-color: rgb(255, 202, 138);
      cursor: pointer;
    }
}
@media screen and (min-width: 850px) {
  .drop-down{
    display: none;
    left: -100px;
    position: absolute;
  }
  .nav-bar{
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 1100px) {
  .logo{
display: none;
      }
}