@import "./_var";

.nav-bar{
  background: $nav_bar_color;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 0 50px 0;
  font-size: 20px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  top: 0;
  a{
    // color: $black_color;
    text-decoration: none;
    transition: 0.3s;
    &:hover{
      color: white;
    }
  }
}
.active-link{
  color: rgb(255, 77, 77);
  // .nav-bar a{
  //   color: rgb(255, 74, 74);
  // }
}
.inactive-link{
  color: $black_color;
}