@import './_var';

.services {
  margin: 200px 0 0 0;
  background-color: $white_color;
  padding: 0;
  position: relative;
  top: -150px;
  margin-bottom: -170px;
  .drop-down-services {
    h3 {
      text-align: center;
    }
    .service-headline {
      border: 1px solid $service_table_color_brighter;
      background-color: $purple_color_opacity;
      width: 90%;
      margin: 15px auto;
      padding: 15px 0 15px 20px;
      cursor: pointer;
      height: auto;
      overflow: hidden;
    }
    span {
      border: 1px solid $service_table_color_brighter;
      margin: -20px -20px;
      padding: 20px;
      background-color: $service_table_color_brighter;
      font-size: 1.2em;
      font-variant: small-caps;
      cursor: pointer;
      display: block;
    }

    span::after {
      float: right;
      font-size: 40px;
      padding-right: 30px;
      content: '+';
    }

    .slide {
      clear: both;
      margin-top: 5px;
      position: relative;
      top: 30px;
      width: 100%;
      height: 0px;
      overflow: hidden;
      transition: height 0.7s ease;
    }
    #touch1,
    #touch2,
    #touch3,
    #touch4,
    #touch5,
    #touch6 {
      position: absolute;
      opacity: 0;
      height: 0px;
    }

    #touch1:checked + .slide,
    #touch2:checked + .slide,
    #touch3:checked + .slide,
    #touch4:checked + .slide,
    #touch5:checked + .slide,
    #touch6:checked + .slide {
      height: 200px;
    }

    #touch2:checked + .slide {
      height: 230px;
    }
    #touch3:checked + .slide {
      height: 210px;
    }
    #touch4:checked + .slide {
      height: 260px;
    }
    #touch6:checked + .slide {
      height: 170px;
    }
  }
}
.eyebrow-types {
  display: inline-block;
  margin: 50px auto;

  word-wrap: break-word;

  .first-img {
    position: relative;
    transition: 0.5s;
    z-index: 2;
    &:hover {
      opacity: 0;
    }
  }
  .second-img,
  .second-img-float {
    position: relative;
    width: 400px;
    left: -440px;
    margin-right: -400px;
    z-index: 1;
  }
  .second-img-float {
    left: 30px;
  }
  img {
    margin: 10px;
    float: left;
    width: 400px;
    margin-top: 30px;
  }
}
.eyebrow-types:nth-of-type(even) {
  img {
    float: right;
  }
}

@media screen and (max-width: 850px) {
  .services {
    margin: 10px 0 -50px 0;
    background-color: $white_color;
    padding: 0 0;
    position: unset;
  }
}

@media screen and (max-width: 600px) {
  .services {
    .drop-down-services {
      .service-headline {
        padding: 15px 15px 15px 15px;
        span {
          text-align: center;
        }
        span::after {
          float: right;
          font-size: 0;
          padding-right: 0;
          content: '';
        }
        #touch6:checked + .slide {
          height: 200px;
        }
        #touch3:checked + .slide {
          height: 260px;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) and (min-width: 600px) {
  .eyebrow-types {
    img {
      width: 300px;
    }
    .second-img,
    .second-img-float {
      position: relative;
      width: 300px;
      left: -340px;
      margin-right: -400px;
    }
    .second-img-float {
      left: -70px;
    }
  }
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  .eyebrow-types {
    img {
      width: 200px;
    }
    .second-img,
    .second-img-float {
      position: relative;
      width: 200px;
      left: -240px;
      margin-right: -400px;
    }
    .second-img-float {
      left: -170px;
    }
  }
}

@media screen and (max-width: 500px) {
  .eyebrow-types {
    .hidden-img-1,
    .hidden-img-2,
    .hidden-img-3,
    .hidden-img-4 {
      width: 100%;
      height: 300px;
      background-image: url('../images/correction.png');
      background-position: center;
      background-size: cover;
      position: relative;
    }
    .hidden-img-4 {
      background-image: url('../images/lamination.png');
      animation: miniCarousel4 10s ease-in-out infinite;

      @keyframes miniCarousel4 {
        0% {
          background-image: url('../images/lamination.png');
          opacity: 1;
        }
        38% {
          background-image: url('../images/lamination.png');
          opacity: 1;
        }
        40% {
          background-image: url('../images/lamination.png');
          opacity: 0;
        }
        43% {
          background-image: url('../images/laminate-tools.jpg');
          opacity: 0;
        }
        46% {
          background-image: url('../images/laminate-tools.jpg');
          opacity: 1;
        }
        92% {
          background-image: url('../images/laminate-tools.jpg');
          opacity: 1;
        }
        94% {
          background-image: url('../images/laminate-tools.jpg');
          opacity: 0;
        }
        95% {
          background-image: url('../images/lamination.png');
          opacity: 0;
        }
        97% {
          background-image: url('../images/lamination.png');
          opacity: 0;
        }
        100% {
          background-image: url('../images/lamination.png');
          opacity: 1;
        }
      }
    }
    .hidden-img-2 {
      background-image: url('../images/henna.jpg');
      animation: miniCarousel2 10s ease-in-out infinite;
      @keyframes miniCarousel2 {
        0% {
          background-image: url('../images/henna.jpg');
          opacity: 1;
        }
        38% {
          background-image: url('../images/henna.jpg');
          opacity: 1;
        }
        40% {
          background-image: url('../images/henna.jpg');
          opacity: 0;
        }
        43% {
          background-image: url('../images/henna-dyes.jpg');
          opacity: 0;
        }
        46% {
          background-image: url('../images/henna-dyes.jpg');
          opacity: 1;
        }
        92% {
          background-image: url('../images/henna-dyes.jpg');
          opacity: 1;
        }
        94% {
          background-image: url('../images/henna-dyes.jpg');
          opacity: 0;
        }
        95% {
          background-image: url('../images/henna.jpg');
          opacity: 0;
        }
        97% {
          background-image: url('../images/henna.jpg');
          opacity: 0;
        }
        100% {
          background-image: url('../images/henna.jpg');
          opacity: 1;
        }
      }
    }
    .hidden-img-3 {
      background-image: url('../images/bronsun.png');
      animation: miniCarousel3 10s ease-in-out infinite;
      @keyframes miniCarousel3 {
        0% {
          background-image: url('../images/bronsun.png');
          opacity: 1;
        }
        38% {
          background-image: url('../images/bronsun.png');
          opacity: 1;
        }
        40% {
          background-image: url('../images/bronsun.png');
          opacity: 0;
        }
        43% {
          background-image: url('../images/bronsun-dyes.jpg');
          opacity: 0;
        }
        46% {
          background-image: url('../images/bronsun-dyes.jpg');
          opacity: 1;
        }
        92% {
          background-image: url('../images/bronsun-dyes.jpg');
          opacity: 1;
        }
        94% {
          background-image: url('../images/bronsun-dyes.jpg');
          opacity: 0;
        }
        95% {
          background-image: url('../images/bronsun.png');
          opacity: 0;
        }
        97% {
          background-image: url('../images/bronsun.png');
          opacity: 0;
        }
        100% {
          background-image: url('../images/bronsun.png');
          opacity: 1;
        }
      }
    }
    .hidden-img-1 {
      background-image: url('../images/correction.png');
      animation: miniCarousel1 10s ease-in-out infinite;
      @keyframes miniCarousel1 {
        0% {
          background-image: url('../images/correction.png');
          opacity: 1;
        }
        38% {
          background-image: url('../images/correction.png');
          opacity: 1;
        }
        40% {
          background-image: url('../images/correction.png');
          opacity: 0;
        }
        43% {
          background-image: url('../images/correction-tools.jpg');
          opacity: 0;
        }
        46% {
          background-image: url('../images/correction-tools.jpg');
          opacity: 1;
        }
        92% {
          background-image: url('../images/correction-tools.jpg');
          opacity: 1;
        }
        94% {
          background-image: url('../images/correction-tools.jpg');
          opacity: 0;
        }
        95% {
          background-image: url('../images/correction.png');
          opacity: 0;
        }
        97% {
          background-image: url('../images/correction.png');
          opacity: 0;
        }
        100% {
          background-image: url('../images/correction.png');
          opacity: 1;
        }
      }
    }

    img {
      display: none;
    }
    .second-img,
    .second-img-float {
      position: static;
      // width: 100%;
      width: 100%;
      left: 0;
      margin-right: 0;
      top: 300px;
      margin-bottom: 0;
    }
    .second-img-float {
      left: 0;
      width: 100%;
    }
  }
  .eyebrow-types:nth-of-type(2) {
    img {
      float: none;
    }
  }
  .services-title {
    text-align: center;
  }
}
@media screen and (max-width: 432px) {
  .services {
    .drop-down-services {
      .service-headline {
        #touch1:checked + .slide {
          height: 260px;
        }
        #touch2:checked + .slide {
          height: 290px;
        }
        #touch3:checked + .slide {
          height: 320px;
        }
        #touch4:checked + .slide {
          height: 380px;
        }
        #touch5:checked + .slide {
          height: 230px;
        }
      }
    }
  }
}
@media screen and (min-width: 2500px) {
  .services {
    margin: -100px 15% -200px 15%;
    padding: 15% 3% 5% 3%;
  }
}
