$nav_bar_color: #fdebff;
$body_color: #faf4ff;
$footer_bg_color: #2e2e2e;
$footer_side_color: #3d3d3d;
$logo_color: #cb6ce6;
$fb_color: #4267b2;
$ig_color: #e4405f;
$phone_color: #006928;
$email_color: #999999;
$white_color: white;
$black_color: black;
$purple_color: purple;
$purple_color_opacity: rgba(128, 0, 128, 0.05);
$service_table_color: #faf4ff;
$service_table_color_brighter: #ecd4ff;
$light_gray_color: rgb(255, 241, 251);

$nav_bar_links_color: rgb(255, 149, 149);

@font-face {
  font-family: kalam-regular;
  src: url(../fonts/Kalam-Regular.ttf);
}
@font-face {
  font-family: kalam-light;
  src: url(../fonts/Kalam-Light.ttf);
}
@font-face {
  font-family: kalam-bold;
  src: url(../fonts/Kalam-Bold.ttf);
}
@font-face {
  font-family: monste;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
