$nav_bar_color: #fdebff;
$body_color: #faf4ff;

$white_color: white;
$black_color: black;
$purple_color: purple;
$service_table_color: #faf4ff;
$service_table_color_brighter: #ecd4ff;
$light_gray_color: rgb(255, 241, 251);

// $nav_bar_color: linear-gradient(
//   0deg,
//   rgba(255, 226, 226, 1) 30%,
//   rgba(255, 148, 148, 1) 100%
// );
$nav_bar_links_color: rgb(255, 149, 149);
