@import './var';
@import './_navi.scss';
@import './_home.scss';
@import './_services.scss';
@import './_gallery.scss';
@import './_about.scss';
@import './_contacts.scss';
@import '_faq.scss';

@font-face {
  font-family: kalam-regular;
  src: url(../fonts/Kalam-Regular.ttf);
}
@font-face {
  font-family: kalam-light;
  src: url(../fonts/Kalam-Light.ttf);
}
@font-face {
  font-family: kalam-bold;
  src: url(../fonts/Kalam-Bold.ttf);
}
@font-face {
  font-family: monste;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  background-color: $body_color;
  font-family: monste;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  // overflow-x: hidden; // for announcement bar
}
