@import "./var";
@import "./_navi.scss";
@import "./_home.scss";
@import "./_services.scss";
@import "./_gallery.scss";
@import "./_about.scss";
@import "./_contacts.scss";
@import '_faq.scss';


body{
  background-color: $body_color;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}