@import "./var";
@import "./_navi.scss";
@import "./_services.scss";
@import "./_gallery.scss";


body{
  background-color: $body_color;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}